<!DOCTYPE html>
<html lang="en">
    <head>
        <title>givemath</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="hamburger" id="menu-toggle-outside">&#9776</div>
        <div class="side-nav" id="side-menu">
            <div class="hamburger" id="menu-toggle-inside">&#9776</div>
            <a href="/">home</a>
            <a href="/topic">topic</a>
            <a href="/scanner">scanner</a>
            <a href="/example">example</a>
            <a href="/rating">rating</a>
        </div>
        <div class="overlay" id="overlay"></div>
                <div class="head-text">
            <p class="title">example page</p>
            <p class="description">- description -</p>
        </div>
        <div class="triangle">
            <div class="triangle-image">รูปภาพ</div>
            <div class="traingle-text">ตัวอย่างโจทย์ สี่เหลี่ยม</div>
        </div>
        <div class="rectangle">
            <div class="rectangle-image">รูปภาพ</div>
            <div class="rectangle-text">ตัวอย่างโจทย์ สามเหลี่ยม</div>
        </div>
    </body>
</html>
