<!DOCTYPE html>
<html lang="en">
    <head>
        <title>givemath</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="hamburger" id="menu-toggle-outside">&#9776</div>
        <div class="side-nav" id="side-menu">
            <div class="hamburger" id="menu-toggle-inside">&#9776</div>
            <a href="/"><span class="nav-text">หน้าหลัก</span></a>
            <a href="/topic"><span class="nav-text">เนื้อหา</span></a>
            <a href="/scanner"><span class="nav-text">สแกนเนอร์</span></a>
            <a href="/example"><span class="nav-text">ตัวอย่างโจทย์</span></a>
            <a href="/rating"><span class="nav-text">ให้คะแนนเรา</span></a>
        </div>
        <div class="overlay" id="overlay"></div>
        <div class="head-text">
            <p class="title">***** เว็บไซต์นี้อยู่ระหว่างการพัฒนา *****</p>
            <p class="description">givemath เว็บไซต์เกี่ยวกับการแก้ปัญหาประเภทนับรูปภาพ</p>
        </div>

        <div class="button">
            <div class="button-row1">
                <a href="/topic" class="page-button" id="scanner-button">
                    <div class="title">การจัดหมู่ (Combination)</div>
                    <div class="description">เนื้อหาเบื้องต้นเกี่ยวกับการจัดหมู่</div>
                </a>
                <a href="/scanner" class="page-button" id="scanner-button">
                    <div class="title">สแกนเพื่อแก้โจทย์</div>
                    <div class="description">ตัวช่วยในการแก้โจทย์แบบรูปภาพ</div>
                </a>    
            </div>
            <div class="button-row2">
                <a href="/example" class="page-button" id="example-button">
                    <div class="title">ตัวอย่างโจทย์</div>
                    <div class="description">โจทย์ปัญหาเกี่ยวกับการนับรูปภาพ</div>
                </a>
                <a href="/rating" class="page-button" id="rating-button">
                    <div class="title">ให้คะแนนเรา</div>
                    <div class="description"></div>
                </a>
            </div>
        </div>
    </body>
</html>
</html>
