<!DOCTYPE html>
<html lang="en">
    <head>
        <title>givemath</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <div class="hamburger" id="menu-toggle-outside">&#9776</div>
        <div class="side-nav" id="side-menu">
            <div class="hamburger" id="menu-toggle-inside">&#9776</div>
            <a href="/">home</a>
            <a href="/topic">topic</a>
            <a href="/scanner">scanner</a>
            <a href="/example">example</a>
            <a href="/rating">rating</a>
        </div>
        <div class="overlay" id="overlay"></div>
            <div class="head-text">
            <p class="title">สแกนเพื่อแก้โจทย์</p>
            <p class="description"></p>
        </div>
        <div class="dropdown">
            <button class="dropdown-button" id="dropdown-button">
                <span class="dropdown-head">ขอบเขตของโจทย์ที่แก้ได้
                </span>
                <i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="dropdown-menu" id="dropdown-menu">
                <div class="d1">การนับรูปสามเหลี่ยมทั้งหมดจากรูปสามเหลี่ยมที่ด้านในถูกแบ่งด้วยเส้นแนวนอน และเส้นที่ลากจากมุมยอดมายังฐาน</div>
                <div class="d2">การนับรูปสี่เหลี่ยมผืนผ้าทั้งหมดจากรูปสี่เหลี่ยมผืนผ้าที่ด้านในถูกแบ่งด้วยเส้นแนวนอนและเส้นแนวตั้ง</div>
            </div>
        </div>
        <div class="upload-container" id="upload-container">
            <p id="show-status">ยังไม่ได้เลือกไฟล์<br><br>*โปรดเลือกรูปภาพที่มีความชัดและสว่างเพียงพอ*</p>
        </div>
        <div class="buttons">
            <button type="button" id="button-input">เลือกรูปภาพ</button>
            <input type="file" id="real-input" name="image" accept="image/*" capture="camera"/>
            <button type="button" id="button-process">ประมวลผล</button>
        </div>
        <div class="text-result" id="text-result"></div>
        <div class="text-explain" id="text-explain"></div>
        </div>
    </body>
</html>
